.slick-dots {
  display: flex !important;
  justify-content: center;
  align-items: center;
  gap: 10px;
  bottom: -25px;
  
  li {
    margin: 0;
    padding: 0;
    width: 15px;
    height: 15px;

    button {
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background-color: $brand;
      opacity: 0.5;
      transition: opacity 0.3s ease, background-color 0.3s ease;
      border: none;
      cursor: pointer;

      &::before {
        display: none;
      }
    }

    &.slick-active button {
      opacity: 1;
      background-color: #0f0f0f;
    }
  }
}